<style>
  #cabecalho {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 2rem;
    padding: 2rem 14dvw;
    justify-content: space-between;
    align-items: center;
    background-color: {{ section.settings.background_color | default: '#ffffff' }};
    color: {{ section.settings.text_color | default: '#000000' }} !important;
    margin-bottom: 2rem;
  }

  #cabecalho > a {
    display: grid;
    font-size: 32px;
    font-weight: bold;
    color: {{ section.settings.text_color | default: '#000000' }} !important;
  }

  #cabecalho > a > picture {
    display: grid;
  }

  #cabecalho > a > picture > img {
    object-fit: contain;
  }

  #cabecalho > nav {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 1rem;
  }

  #cabecalho > nav > span {
    font-size: 16px;
    text-transform: uppercase;
    width: 52px;
    height: 48px;
    text-align: center;
    display: grid;
    align-items: center;
    margin: 0;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0.5rem;
    transition: all 0.1s ease;
  }

  #cabecalho > nav > span:hover {
    background-color: #ffffff6b;
  }
</style>

<header id="cabecalho">
  {% if section.settings.logo_desktop != blank or section.settings.logo_mobile != blank %}
    <a href="/">
      <picture>
        {% if section.settings.logo_mobile != blank %}
          <source
            media="(max-width: 768px)"
            srcset="{{ section.settings.logo_mobile | image_url:  height: 60 }}"
            width="120"
            height="60"
          >
        {% endif %}
        <img
          src="{{ section.settings.logo_desktop | image_url: width: 90, height: 90 }}"
          alt="{{ shop.name }}"
          width="90"
          height="90"
        >
      </picture>
    </a>
  {% else %}
    <a href="/">{{ shop.name }}</a>
  {% endif %}

  <nav>
    <span>BRL</span>
    <span>PT</span>
  </nav>
</header>

{% schema %}
{
  "name": "Cabeçalho",
  "limit": 1,
  "settings": [
    {
      "type": "image_picker",
      "id": "logo_desktop",
      "label": "Logo (desktop)"
    },
    {
      "type": "image_picker",
      "id": "logo_mobile",
      "label": "Logo (mobile)"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Cor de fundo",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Cor do texto",
      "default": "#000000"
    }
  ],
  "presets": [
    {
      "name": "Cabeçalho"
    }
  ]
}
{% endschema %}
